<!doctype html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Şirket Güncelleme</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<div class="container">
		<div class=row>
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Şirket Bilgilerini Güncelle</h1>
				<div class="card-body">
					<form th:action="@{/companies/{id} (id=${company.id})}" th:object="${company}"
						method="POST">
						<div class=form-group>
							<label>Şirket Adı</label> <input class="form-control"
								type="text" name="name" th:field="*{name}"
								placeholder="Lütfen şirket adını giriniz.">
						</div>
						<div class=form-group>
							<label>Adres</label> <input class="form-control"
								type="text" name="adress" th:field="*{adress}"
								placeholder="Lütfen şirket adresini giriniz.">
						</div>
						<div class=form-group>
							<label>Website</label> <input class="form-control"
								type="text" name="website" th:field="*{website}"
								placeholder="Lütfen şirket websitesini giriniz.">
						</div>
						<div class="box-footer">
							<button type=submit class="btn btn-success">Güncelle</button>
						</div>					
					</form>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>